
# Disable git dependencies for Electron
electron_rebuild=false
electron_prebuilt_cache_path=~/.electron-prebuilt
target_platform=win32
target_arch=x64
disturl=https://electronjs.org/headers
runtime=electron
devdir=~/.electron-gyp
build_from_source=false
